*{
  margin: 0;
  padding: 0;
}

.heading{
  background-color: black;
  width: Fixed (1,200px)px;
  height: Hug (46px)px;
  padding: 14px 110px 14px 110px;
  gap: 8px;
  opacity: 0px;
  ;
}

.text1{
  color: #FFFFFF99;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.23px;
  text-align: left;
  
}

.text2{
 color: #FFFFFF;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 18.23px;
text-align: left;

}